.about .container{
    margin-bottom: 150px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 163px 100px 165px;
    background-color: #1B262F;
}

.about-left{
    max-width: 445px;
    width: 100%;
}

.about__heading{
    max-width: 445px;
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #FBFCFE;
}

.about__paragrahp{
    max-width: 400px;
    width: 100%;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #FBFCFE;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.about__link{
    display: inline-block;
    padding: 16px 32px 14px 32px;
    text-decoration: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.115385px; 
    color: #FBFCFE;
    border: 1px solid #FBFCFE;
    box-sizing: border-box;
    border-radius: 24px;
}

.about__link:hover{
    color: #1B262F;
    background-color: #FFFFFF;
    border: 1px solid #FBFCFE;
    box-sizing: border-box;
    border-radius: 24px;
}

.about-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 536px;
    width: 100%;
    // height: 103px;
    padding: 88px 0 183px 0;
    row-gap: 23px;
    column-gap: 10px;
}

@media only screen and (max-width:1220px){
    .about .container{
        flex-direction: column-reverse;
        margin: 0 auto;
        margin-bottom: 100px;
        padding: 88px 116px;
    }

    .about-left{
        margin: 0 auto;
    }

    .about__heading{
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 42px;
    }

    .about-right{
        margin: 0 auto;
        margin-bottom: 42px;
        padding: 80px 47px 56px 48px;
    }

    .about__paragrahp{
        margin: 0 auto;
        margin-bottom: 32px;
    }
    .about__link{
        display: block;
        max-width: 129px;
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (max-width:730px){

    .about .container{
        padding: 80px 24px;
    }

    .about-right{
        padding: 0;
    }
    .about-right img:nth-child(1){
        max-width: 107px;
        width: 100%;
        height: 15px;
    }
    .about-right img:nth-child(2){
        max-width: 119px;
        width: 100%;
        height: 26px;
    }
    .about-right img:nth-child(3){
        max-width: 115px;
        width: 100%;
        height: 22px;
    }
    .about-right img:nth-child(4){
        max-width: 108px;
        width: 100%;
        height: 14px;
    }
    .about-right img:nth-child(5){
        max-width: 79px;
        width: 100%;
        height: 27px;
    }
    .about-right img:nth-child(6){
        max-width: 113px;
        width: 100%;
        height: 21px;
    }


    .about__heading{
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.246154px;
        color: #FBFCFE;
    }

    .about__paragrahp{
        font-family: Public Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 28px;
        text-align: center;
        color: #FBFCFE;
        mix-blend-mode: normal;
        opacity: 0.7;
    }

}
@media only screen and (max-width:426px){
    .about-right{
        padding: 25px;
    }
}


